.App {
  min-height: 100vh;
  background-color: #39445a;
  color: white;
  padding-top: calc(100vh - 90vh);
}

.pageTitle {
  display: block;
  text-align: center;
  padding: 4px;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 100;
}
